{% extends "index/base.html" %}

{% block content %}
    <div class ="div1">
    <h2>Adicione Uma nova tarefa</h2>
    <form action = "{% url 'index' %}" method = "post">
        {% csrf_token %}
        {{ form.as_p}}
        <button name="submit">Adicionar</button>
    </form>
    </div>

    <div class="div2">
    <h2 style="text-align: center;">Suas Tarefas</h2>
    <ul>
    {% for topic in topics %}

        <li style="margin-top: 5px;">{{ topic.text }} - {{ topic.date_added|date:"d/m/Y H:i" }}
            <a style="background-color: rgb(134, 66, 17); color:aliceblue;border-radius: 5px; padding: 2px 5px;"   href="{% url 'edit_topic' topic.id %}">Editar</a>

            
            <a href="{% url 'delete_topic' topic.id %}"
            onclick= "return confirm('Tem certeza que deseja excluir esta tarefa?');"
            style="background-color: rgb(128, 1, 1); color: white; padding: 2px 5px; border-radius: 5px;">
            Excluir
            </a>
        </li>

    {% empty %}
        <li>Nenhuma tarefa adicionada ainda.</li>

    {% endfor %}
    </div>
    </ul>
    
    
        
<style>
    .div1{
        background-color: rgb(224, 199, 169);
        max-width: 75%;
        border-radius: 10px;
        box-shadow: 4px;
        min-width: 50% ;
        margin: 20px;
    }

    .div2{
        background-color: rgb(224, 199, 169);
        max-width: 80%;
        border-radius: 10px;
        box-shadow: 4px;
        min-width: 75% ;
        margin: 20px;
        text-align: left;
    }

</style>
    
{% endblock content %}